[class*="col-"] {
    padding: 10px;
}

.row{
    margin: 0;
}
h4{
    text-align: center;
}
.income_table-input, .account_table-input{
    width: 100%;
    height: 2rem;
    margin: 1.125rem 0 1.0625rem;
    border: none;
}textarea.income_table-input, textarea.account_table-input{
    display: block;
    margin: 0.1875rem 0 0.125rem;
    height: 4rem;
    resize: none;
}
#financial_accounts>div, #income_streams>div{
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #c1cff1;
    
}
table, th, td {
    border: 1px solid #cdcdcd;
    padding:5px;
    background-color: #343434;
  }
  #submissionError {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #842029;
    background-color: lightsteelblue;
    border-color: #f5c2c7;
    text-align:center;
    font-weight:bold;
}
.error-message{
    color: #842029;
    font-weight: bold;
}
body{
    background-color: #1b1b1b;
    color: #ffffff;
    padding: 5%;
}
input[type=button]{
    text-align: left;
}

